#what-is {
	text-align: center;
}

#what-is hgroup{
	margin-bottom: 30px;
}

#what-is .row {
	padding-left: 0px 15px;
	margin-top: 60px;
}

#what-is div > img {
	transition: 0.8s;
	margin-bottom: 30px;
}

#what-is div > img:hover {
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}